@import url("array.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(cat.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-header {
  border-radius: 20px 20px 0px 0px;
  background: #b48ce6;

  /* Blur/Glass */
  backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
  width: 290px;
  height: 141px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header h1 {
  color: #f4f3f1;
  text-align: center;
  font-family: "Aftersick DEMO";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-header p {
  color: #f4f3f1;
  text-align: center;
  font-family: "Array-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  gap: 21px;
  justify-content: start;
  align-items: center;
  width: 290px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: rgba(245, 225, 253, 0.75);

  /* Blur/Glass */
  backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
}

.card-body p {
  color: #b48ce6;
  text-align: center;
  font-family: "Array-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 93.75% */
}

.card-body ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 181px;
  width: 231px;
}

.card-body ul button {
  width: 231px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 23.5px;
  background: #b399d4;
  border: none;
  position: relative;

  color: #f4f3f1;
  text-align: center;
  font-family: "Array-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.card-body ul button span {
  color: #f4f3f1;
  text-align: center;
  font-family: "Array-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.card-body ul button svg {
  position: absolute;
  left: 22px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.card-body ul button:last-child {
  border-radius: 23.5px;
  background: rgba(179, 153, 212, 0.25);
}

.card-body ul button:last-child span {
  color: #b47df8;
  text-align: center;
  font-family: "Array-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}

footer {
  width: 290px;
  height: 51px;
  border-radius: 20px;
  background: rgba(245, 225, 253, 0.75);

  /* Blur/Glass */
  backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #b48ce6;
  text-align: center;
  font-family: Array;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-body ul button:hover {
  background: #ac7ce6;
  color: #f4f3f1;
  transition: all 0.2s ease-in-out;
}

.card-body ul button:last-child:hover {
  background: #f4f3f1;
  transition: all 0.2s ease-in-out;
}

button{
  cursor: pointer;
}

button:active{
  animation: scaleSmall 0.2s ease-in-out;
}

@keyframes scaleSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

